{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}

    {% block account_content %}
        <div class="container">
            <h1>{{ 'StPiGhAdditionalMailAddresses.pageAccount.heading' | trans }}</h1>
            <p>{{ 'StPiGhAdditionalMailAddresses.pageAccount.introText'| trans }}</p>
            <form method="post" action="{{ path('frontend.stpi.additional_emails.save') }}" class="form">
                {% for additionalEmail in additionalEmails %}
                    <div class="additional-emails-form-row ">
                        <div class="g-2">
                            <div class="form-group col-lg-6">
                                <label class="form-label"
                                       for="additionalEmails{{ loop.index }}">{{ 'StPiGhAdditionalMailAddresses.pageAccount.headingMailaddress'| trans }} {{ loop.index }}
                                    :</label>
                                <input type="email" class="form-control form-control-sm"
                                       name="additionalEmail_{{ loop.index0 }}[stpi_additional_mailaddresses_mail_{{ loop.index0 }}]"
                                       id="additionalEmails{{ loop.index }}"
                                       value="{{ additionalEmail['stpi_additional_mailaddresses_mail_' ~ loop.index0 ] }}"
                                       placeholder="{{ 'StPiGhAdditionalMailAddresses.pageAccount.headingMailaddress'| trans }} {{ loop.index }}">
                            </div>
                        </div>
                        <div class="additional-emails-checkboxes col-lg-6 card-col">
                            <div class="form-check  col-lg-4">
                                <input type="checkbox" class="form-check-input"
                                       name="additionalEmail_{{ loop.index0 }}[stpi_additional_mailaddresses_mail_{{ loop.index0 }}_payment_status]"
                                       id="invoice{{ loop.index }}" value="1"
                                       {% if additionalEmail['stpi_additional_mailaddresses_mail_' ~  loop.index0  ~ '_payment_status'] %}checked{% endif %}>
                                <label class="form-check-label"
                                       for="invoice{{ loop.index }}">{{ 'StPiGhAdditionalMailAddresses.pageAccount.checkboxTransactionState'| trans }}</label>
                            </div>
                            <div class="form-check  col-lg-4">
                                <input type="checkbox" class="form-check-input"
                                       name="additionalEmail_{{ loop.index0 }}[stpi_additional_mailaddresses_mail_{{ loop.index0 }}_order_status]"
                                       id="orderStatus{{ loop.index }}" value="1"
                                       {% if additionalEmail['stpi_additional_mailaddresses_mail_' ~  loop.index0  ~ '_order_status'] %}checked{% endif %}>
                                <label class="form-check-label"
                                       for="orderStatus{{ loop.index }}">{{ 'StPiGhAdditionalMailAddresses.pageAccount.checkboxOrderStatus'| trans }}</label>
                            </div>
                            <div class="form-check  col-lg-4">
                                <input type="checkbox" class="form-check-input"
                                       name="additionalEmail_{{ loop.index0 }}[stpi_additional_mailaddresses_mail_{{ loop.index0 }}_delivery_status]"
                                       id="deliveryStatus{{ loop.index }}" value="1"
                                       {% if additionalEmail['stpi_additional_mailaddresses_mail_' ~  loop.index0  ~ '_delivery_status'] %}checked{% endif %}>
                                <label class="form-check-label"
                                       for="deliveryStatus{{ loop.index }}">{{ 'StPiGhAdditionalMailAddresses.pageAccount.checkboxDeliveryStatus'| trans }}</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button type="submit"
                        class="btn btn-primary">{{ 'StPiGhAdditionalMailAddresses.pageAccount.buttonSave'| trans }}</button>
            </form>
        </div>
    {% endblock %}

{% endblock %}
